In [4]:
import pandas as pd
df=pd.read_csv('movies.csv')
df.fillna(0,inplace=True)
df

,Title,US Gross,Worldwide Gross,US DVD Sales,Production Budget,Release Date,MPAA Rating,Running Time (min),Distributor,Source,Major Genre,Creative Type,Director,Rotten Tomatoes Rating,IMDB Rating,IMDB Votes
0,The Land Girls,146083,146083,0.0,8000000.0,12-Jun-98,R,0.0,Gramercy,0,0,0,0,0.0,6.1,1071.0
1,"First Love, Last Rites",10876,10876,0.0,300000.0,7-Aug-98,R,0.0,Strand,0,Drama,0,0,0.0,6.9,207.0
2,I Married a Strange Person,203134,203134,0.0,250000.0,28-Aug-98,0,0.0,Lionsgate,0,Comedy,0,0,0.0,6.8,865.0
3,Let's Talk About Sex,373615,373615,0.0,300000.0,11-Sep-98,0,0.0,Fine Line,0,Comedy,0,0,13.0,0.0,0.0
4,Slam,1009819,1087521,0.0,1000000.0,9-Oct-98,R,0.0,Trimark,Original Screenplay,Drama,Contemporary Fiction,0,62.0,3.4,165.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3196,Zack and Miri Make a Porno,31452765,36851125,21240321.0,24000000.0,31-Oct-08,R,101.0,Weinstein Co.,Original Screenplay,Comedy,Contemporary Fiction,Kevin Smith,65.0,7.0,55687.0
3197,Zodiac,33080084,83080084,20983030.0,85000000.0,2-Mar-07,R,157.0,Paramount Pictures,Based on Book/Short Story,Thriller/Suspense,Dramatization,David Fincher,89.0,0.0,0.0
3198,Zoom,11989328,12506188,6679409.0,35000000.0,11-Aug-06,PG,0.0,Sony Pictures,Based on Comic/Graphic Novel,Adventure,Super Hero,Peter Hewitt,3.0,3.4,7424.0
3199,The Legend of Zorro,45575336,141475336,0.0,80000000.0,28-Oct-05,PG,129.0,Sony Pictures,Remake,Adventure,Historical Fiction,Martin Campbell,26.0,5.7,21161.0
3200,The Mask of Zorro,93828745,233700000,0.0,65000000.0,17-Jul-98,PG-13,136.0,Sony Pictures,Remake,Adventure,Historical Fiction,Martin Campbell,82.0,6.7,4789.0

In [27]:
#2.	(i). Find no. of movies released under each genre given in the database.
df.groupby(['Major Genre'])['Title'].count()

Major Genre
Action                 420
Adventure              274
Black Comedy            36
Comedy                 675
Concert/Performance      5
Documentary             43
Drama                  789
Horror                 219
Musical                 53
Romantic Comedy        137
Thriller/Suspense      239
Western                 36
Name: Title, dtype: int64

In [20]:
#2.(ii). Find the movies under each genre with 1MDB rating >7 and rotten tomatoes rating > 60.
df1=df[df['Rotten Tomatoes Rating']>60]
df2=df[df['IMDB Rating']>7]
dff=df.loc[(df['Rotten Tomatoes Rating']>60) & (df['IMDB Rating']>7) & (df['Major Genre']!=0)]
#dff
dff.groupby(['Major Genre','Title'])['Rotten Tomatoes Rating','IMDB Rating'].sum()

C:\Users\y20cs23\AppData\Local\Temp/ipykernel_8136/90079771.py:6: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  dff.groupby(['Major Genre','Title'])['Rotten Tomatoes Rating','IMDB Rating'].sum()

                                                                Rotten Tomatoes Rating  \
Major Genre Title
Action      A Bridge Too Far                                                      67.0
            Aliens                                                               100.0
            Apocalypse Now                                                        98.0
            Avatar                                                                83.0
            Batman                                                                71.0
...                                                                                ...
Western     Pale Rider                                                            92.0
            The Assassination of Jesse James by the Coward ...                    75.0
            The Ballad of Cable Hogue                                             92.0
            The Wild Bunch                                                        97.0
            Tombstone                                                             77.0

                                                                IMDB Rating
Major Genre Title
Action      A Bridge Too Far                                            7.3
            Aliens                                                      7.5
            Apocalypse Now                                              8.6
            Avatar                                                      8.3
            Batman                                                      7.6
...                                                                     ...
Western     Pale Rider                                                  7.1
            The Assassination of Jesse James by the Coward ...          7.7
            The Ballad of Cable Hogue                                   7.3
            The Wild Bunch                                              8.2
            Tombstone                                                   7.7

[541 rows x 2 columns]

In [4]:
#1.(i). Find out the no of movies released in every month of the year 1995.
import datetime
dfn=df[df['Release Date']!='TBD']
dfn['Release Date']=pd.to_datetime(dfn['Release Date'])

#dfn

dfn[dfn['Release Date'].dt.year==1995].groupby(pd.Grouper(key='Release Date', axis=0, freq='M'))['Title'].count()

C:\Users\y20cs23\AppData\Local\Temp/ipykernel_2984/1345380568.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dfn['Release Date']=pd.to_datetime(dfn['Release Date'])

Release Date
1995-01-31     3
1995-02-28     2
1995-03-31     3
1995-04-30     5
1995-05-31     6
1995-06-30     7
1995-07-31     8
1995-08-31     7
1995-09-30     4
1995-10-31     8
1995-11-30     7
1995-12-31    13
Freq: M, Name: Title, dtype: int64

In [7]:
#1.(ii). Find out the no. of movies released in every year from 1990 to 1998.
dfn[dfn['Release Date'].dt.year.between(1990,1998)].groupby(pd.Grouper(key='Release Date', axis=0, freq='M'))['Title'].count()

Release Date
1990-01-31     1
1990-02-28     1
1990-03-31     3
1990-04-30     1
1990-05-31     1
              ..
1998-08-31    13
1998-09-30    12
1998-10-31    15
1998-11-30    14
1998-12-31    16
Freq: M, Name: Title, Length: 108, dtype: int64

In [94]:
#3.(i). Find the movies released under each fiction with each director in the ascending order of release dates.
#df1.sort_values(by='Release Date',inplace=True)
df1=df.loc[(df['Director']!=0)&(df['Creative Type']!=0)&(df['Release Date']!='TBD')&(df['Distributor']!=0)&(df['Major Genre']!=0)]
df1['Release Date']=pd.to_datetime(df1['Release Date'])
df1.sort_values(by='Release Date',inplace=True)
df1[['Title','Release Date']]
df1.groupby(['Creative Type','Release Date'])['Title','Director'].sum()

C:\Users\y20cs23\AppData\Local\Temp/ipykernel_2984/2726447390.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['Release Date']=pd.to_datetime(df1['Release Date'])
C:\ProgramData\Anaconda3\lib\site-packages\pandas\util\_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)
C:\Users\y20cs23\AppData\Local\Temp/ipykernel_2984/2726447390.py:7: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df1.groupby(['Creative Type','Release Date'])['Title','Director'].sum()

                                                      Title  \
Creative Type        Release Date
Contemporary Fiction 1973-12-26                The Exorcist
                     1974-04-07            The Conversation
                     1974-12-17              The Front Page
                     1975-06-20                        Jaws
                     1976-02-08                 Taxi Driver
...                                                     ...
Super Hero           2008-07-18             The Dark Knight
                     2009-03-06                    Watchmen
                     2009-05-01    X-Men Origins: Wolverine
                     2009-10-23                   Astro Boy
                     2010-05-07                  Iron Man 2

                                               Director
Creative Type        Release Date
Contemporary Fiction 1973-12-26        William Friedkin
                     1974-04-07    Francis Ford Coppola
                     1974-12-17            Billy Wilder
                     1975-06-20        Steven Spielberg
                     1976-02-08         Martin Scorsese
...                                                 ...
Super Hero           2008-07-18       Christopher Nolan
                     2009-03-06             Zack Snyder
                     2009-05-01              Gavin Hood
                     2009-10-23            David Bowers
                     2010-05-07             Jon Favreau

[1451 rows x 2 columns]

In [92]:
#3.(ii). Find movies released under each distributor in the order of genre and director.
df1.groupby(['Distributor','Major Genre','Director'])['Title'].apply(list)

Distributor          Major Genre  Director
20th Century Fox     Action       Alex Proyas                      [I, Robot]
                                  Andrew Davis               [Chain Reaction]
                                  Brett Ratner        [X-Men: The Last Stand]
                                  Bryan Singer                    [X-Men, X2]
                                  Chris Nahon            [Kiss of the Dragon]
                                                               ...
Weinstein/Dimension  Comedy       David Zucker                [Scary Movie 4]
                     Horror       Rob Zombie                    [Halloween 2]
                                  Robert Rodriguez               [Grindhouse]
WellSpring           Drama        Vincent Gallo             [The Brown Bunny]
WinStar Cinema       Drama        Akira Kurosawa                   [Madadayo]
Name: Title, Length: 1417, dtype: object

In [ ]:
#4.(i). Find the movies released world-wide and find out the revenue received world-wide other than US with their ratings.